
img {
   
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(27, 18, 1);
  position: absolute;
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;  
};   

h1 {

  font-family: 'Modern Antiqua', cursive;

}